
*.dll
*.vsidx
WebApi/CAT20.WebSolution/.vs/
*.bin
*.txt
*.2
*.pdb
*.cache
WebApi/CAT20.WebSolution/CAT20.WebApi/appsettings.Development.json
WebApi/CAT20.WebSolution/CAT20.WebApi/appsettings.Local.json
WebApi/CAT20.WebSolution/CAT20.WebApi/appsettings.Production.json
WebApi/CAT20.WebSolution/logs/
WebApi/CAT20.WebSolution/CAT20.Data/bin/Release/
WebApi/CAT20.WebSolution/.vs/CAT20.WebSolution/v16/
WebApi/CAT20.WebSolution/.vs/CAT20.WebSolution/v17/

**/out
**/target
**/.idea
**/dist
**/.vscode
**/*.iml
nohup.out
